$hd-ft-background: #161b22;
$img-background: #090c0f;
$background: #0d1117;
$foreground: #c9d1d9;
$link-color: #e7e9eb;
$color-get-pokemon-button: #aa5026;
$error-color: rgb(158, 10, 10);

.inactive {
	display: none;
}

a {
	text-decoration: underline;
	color: $link-color;
}

.arrow-ico {
	font-family: 'Material Icons';
	font-weight: bold;
	font-size: 4.2rem;
	display: inline-block;
	line-height: 1;
	color: $color-get-pokemon-button;
	transition: color 0.2s ease;

	&:hover {
		color: #aa50268a;
	}
	&:active {
		box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
		-webkit-box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
		-moz-box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
	}
}

html {
	font-size: 62.5%;
	font-family: 'Roboto Mono', monospace;
	color: $foreground;
}

header {
	padding: 10px 60px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.8rem;
	font-weight: 700;
	background-color: $hd-ft-background;

	.logo-landing-page {
		min-width: 50px;
		height: 50px;
		margin: 0;
		border-radius: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $foreground;

		img {
			width: 70%;
			height: 70%;
		}
	}

	.header-nav {
		width: 50%;
		display: flex;
		flex-direction: row;

		ul {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 20px;
			list-style-type: none;
		}
		li {
			display: inline;
			a {
				text-decoration: none;
				color: $foreground;
			}
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $background;
}

.presentation-logo-div {
	width: 100%;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	.presentation-section {
		width: 50%;
		min-width: 300px;
		max-width: 450px;
		padding: 20px 100px 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h1 {
			margin-bottom: 10px;
			font-size: 3.2rem;
		}

		p {
			margin: 0;
			font-size: 2rem;
		}
	}

	.img-logo-section {
		width: 50%;
		max-width: 450px;
		padding: 20px 60px 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		figure {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.logo-pokemon {
			width: 80%;
			height: 80%;
		}
	}
}

.get-your-pokemon-section {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;

	.pokemon-img-and-button {
		width: 100%;
		height: 550px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $img-background;
		border-bottom: 2px $foreground solid;
		border-top: 2px $foreground solid;

		.pokemon-img-container {
			width: 350px;
			height: 350px;
			display: flex;
			align-items: center;
			justify-content: center;

			.pokemon-img {
				width: 70%;
				height: 70%;
			}

			.navigate-button {
				background-color: rgba(0, 0, 0, 0);
				border: none;
			}
		}

		.error-text {
			color: rgb(158, 10, 10);
			font-size: 1.4rem;
		}

		.find-pokemon-button {
			width: 400px;
			height: 75px;
			font-size: 3.2rem;
			font-weight: 700;
			color: $foreground;
			background-color: $color-get-pokemon-button;
			transition: background-color 0.2s ease;
			border: 2px $foreground solid;
			border-radius: 100px;
			cursor: pointer;

			&:hover {
				background-color: #aa50268a;
			}
			&:active {
				box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
				-webkit-box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
				-moz-box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
			}
		}
	}

	h2 {
		margin: 20px 60px 0px;
		font-size: 3.2rem;
	}

	.pokemon-details {
		width: 60%;
		height: fit-content;
		padding: 20px 60px 20px;
		margin: 30px 60px 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		border: 2px $foreground solid;
		border-radius: 50px;

		.detail-container {
			width: 100%;
			min-height: 40px;
			height: fit-content;
			margin: 20px 0px;
			display: block;
			align-items: center;
			justify-content: center;
			font-size: 1.9rem;
			border-bottom: 1px solid $foreground;

			p {
				margin: 10px;
				text-align: justify;
			}
		}
	}
}

footer {
	height: 60px;
	padding: 10px 60px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: 700;
	background-color: $hd-ft-background;

	a {
		font-weight: 300;
		margin: 0px 20px;
		font-size: 1.4rem;
		color: $foreground;
	}
}
