:root {
}

html {
	font-size: 62.5%;
	font-family: 'Roboto Mono', monospace;
}

header {
	display: flex;
	flex-direction: row;
}

.header-nav {
	display: flex;
	flex-direction: row;
}

img {
	width: 50px;
	height: 50px;
}
