h2 {
	margin: 30px 0px 0px;
	text-align: center;
}

.pokemon-details {
	width: 60%;
	height: fit-content;
	padding: 20px 60px 20px;
	margin: 30px 60px 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 2px $foreground solid;
	border-radius: 50px;
	transition: all 0.5s;

	.detail-container {
		width: 100%;
		min-height: 40px;
		height: fit-content;
		margin: 20px 0px;
		display: block;
		align-items: center;
		justify-content: center;
		font-size: 1.9rem;
		border-bottom: 1px solid $foreground;

		p {
			margin: 10px;
			text-align: justify;
		}
	}

	@media (max-width: 475px) {
		box-sizing: border-box;
		width: 100%;
		padding: 10px;
		margin: 0;
		border: none;
		border-radius: 0;
	}
}
