.inactive {
  display: none;
}

a {
  text-decoration: underline;
  color: #e7e9eb;
}

.arrow-ico {
  font-family: "Material Icons";
  font-weight: bold;
  font-size: 4.2rem;
  display: inline-block;
  line-height: 1;
  color: #aa5026;
  transition: color 0.2s ease;
}
.arrow-ico:hover {
  color: #aa50268a;
}
.arrow-ico:active {
  box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
  -webkit-box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
  color: #c9d1d9;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d1117;
}