.inactive {
  display: none;
}

a {
  text-decoration: underline;
  color: #e7e9eb;
}

.arrow-ico {
  font-family: "Material Icons";
  font-weight: bold;
  font-size: 4.2rem;
  display: inline-block;
  line-height: 1;
  color: #aa5026;
  transition: color 0.2s ease;
}
.arrow-ico:hover {
  color: #aa50268a;
}
.arrow-ico:active {
  box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
  -webkit-box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
  color: #c9d1d9;
}

header {
  padding: 10px 60px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #161b22;
}
header .logo-landing-page {
  min-width: 50px;
  height: 50px;
  margin: 0;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c9d1d9;
}
header .logo-landing-page img {
  width: 70%;
  height: 70%;
}
header .header-nav {
  width: 50%;
  display: flex;
  flex-direction: row;
}
header .header-nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
header .header-nav li {
  display: inline;
}
header .header-nav li a {
  text-decoration: none;
  color: #c9d1d9;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d1117;
}

.presentation-logo-div {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.presentation-logo-div .presentation-section {
  width: 50%;
  min-width: 300px;
  max-width: 450px;
  padding: 20px 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.presentation-logo-div .presentation-section h1 {
  margin-bottom: 10px;
  font-size: 3.2rem;
}
.presentation-logo-div .presentation-section p {
  margin: 0;
  font-size: 2rem;
}
.presentation-logo-div .img-logo-section {
  width: 50%;
  max-width: 450px;
  padding: 20px 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation-logo-div .img-logo-section figure {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation-logo-div .img-logo-section .logo-pokemon {
  width: 80%;
  height: 80%;
}

.get-your-pokemon-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.get-your-pokemon-section .pokemon-img-and-button {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #090c0f;
  border-bottom: 2px #c9d1d9 solid;
  border-top: 2px #c9d1d9 solid;
}
.get-your-pokemon-section .pokemon-img-and-button .pokemon-img-container {
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-your-pokemon-section .pokemon-img-and-button .pokemon-img-container .pokemon-img {
  width: 70%;
  height: 70%;
}
.get-your-pokemon-section .pokemon-img-and-button .pokemon-img-container .navigate-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.get-your-pokemon-section .pokemon-img-and-button .error-text {
  color: #9e0a0a;
  font-size: 1.4rem;
}
.get-your-pokemon-section .pokemon-img-and-button .find-pokemon-button {
  width: 400px;
  height: 75px;
  font-size: 3.2rem;
  font-weight: 700;
  color: #c9d1d9;
  background-color: #aa5026;
  transition: background-color 0.2s ease;
  border: 2px #c9d1d9 solid;
  border-radius: 100px;
  cursor: pointer;
}
.get-your-pokemon-section .pokemon-img-and-button .find-pokemon-button:hover {
  background-color: #aa50268a;
}
.get-your-pokemon-section .pokemon-img-and-button .find-pokemon-button:active {
  box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
  -webkit-box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
}
.get-your-pokemon-section h2 {
  margin: 20px 60px 0px;
  font-size: 3.2rem;
}
.get-your-pokemon-section .pokemon-details {
  width: 60%;
  height: fit-content;
  padding: 20px 60px 20px;
  margin: 30px 60px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px #c9d1d9 solid;
  border-radius: 50px;
}
.get-your-pokemon-section .pokemon-details .detail-container {
  width: 100%;
  height: 40px;
  margin: 20px 0px;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  border-bottom: 1px solid #c9d1d9;
}
.get-your-pokemon-section .pokemon-details .detail-container p {
  margin: 0px;
}

footer {
  height: 60px;
  padding: 10px 60px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  background-color: #161b22;
}
footer a {
  font-weight: 300;
  font-size: 1.4rem;
  color: #c9d1d9;
}