.last-pokemons-dropdown {
	position: relative;
	width: 200px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s ease;
	cursor: pointer;

	&:hover {
		background-color: $color-get-pokemon-button;
	}
	&:active {
		box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
		-webkit-box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
		-moz-box-shadow: 1px -1px 40px -14px rgba(0, 0, 0, 0.7) inset;
	}

	.dropdown-icon {
		font-family: 'Material Icons';
		font-weight: 500;
		font-size: 2.8rem;
		display: inline-block;
		line-height: 1;
		color: $foreground;
	}

	.dropdown-list {
		position: absolute;
		top: 30px;
		width: 190px;
		min-height: 20px;
		height: fit-content;
		max-height: 200px;
		padding: 10px;
		background-color: $background;
		border: 2px solid $foreground;
		border-radius: 20px;

		.last-search-item {
			height: fit-content;
			padding: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.4rem;
			border-bottom: 1px solid $foreground;
			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}
