.pokemon-container {
	width: 100%;
	height: fit-content;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $img-background;
	border-bottom: 2px $foreground solid;
	border-top: 2px $foreground solid;

	.error-text {
		color: rgb(158, 10, 10);
		font-size: 1.8rem;
		font-weight: 500;
	}

	.input-style {
		margin-bottom: 10px;
		text-align: center;
		font-weight: 700;
		font-size: 1.8rem;
		color: $foreground;
		border: 2px solid $foreground;
		border-radius: 20px;
		background-color: $hd-ft-background;
	}

	@import './dropdown_list';

	@import './input';

	@import './pokemon_img';
}
